* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* Common */
.container {
    width: 80%;
    margin: auto;
}
 .margin {
     margin-top: 20px;
 }

body {
    font-family: 'Montserrat', sans-serif;
}

.layover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

 /* Header */

.logo {
    width: 150px;
}

/* Menu */
.menu {
    list-style-type: none;
    padding: 10px 0;
}
.menu li {
    display: inline-block;
    margin-right: 10px;
}
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #858585;
}

/* Banner */
.banner {
    height: 450px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}


.banner .teaser {
    position: absolute;
    left: 35px;
    bottom: 50px;
    width: 60%;
    color: white;
}

.teaser h1 {
    font-size: 30px;
}

.teaser h3 {
    font-size: 15px;
}

/* Main */
.title {
    padding: 10px 0;
}

.col {
    float: left;
}

.col-left, .col-right {
    width: 20%;
    margin: 1% 0;
}

.col-middle {
    width: 58%;
    margin: 1% 1%;
}

.col-img {
    height: 200px;
    position: relative;
    border-radius: 10px;
}

.col-img img {
    height: 100%;
    object-fit: cover;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.grey-text {
    color: grey;
    font-size: 16px;
}

/* Footer */
footer {
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 0;
}

h3 {
    padding: 10px 0;
}
.heart {
    color: red;
}